Repository calmato/gran, pull requests merged in 2019-12, with the labels that each got.

#4 Stotybook の環境構築
  client/.storybook/addons.ts
  client/.storybook/config.ts
  client/.storybook/webpack.config.js
  client/package.json
  client/stories/0-Welcome.stories.js
  client/stories/1-Button.stories.ts
  client/stories/MyButton.vue
  client/stories/Welcome.js
  client/yarn.lock
Labels: client, feature

#6 Storybook用のDockerfile作成
  .env.sample
  Makefile
  container/storybook/Dockerfile
  docker-compose.yml
Labels: feature

#13 dependabotの設定
  .dependabot/config.yml
Labels: client, feature

#25 refactor: 不要な.gitignoreファイルの削除
  container/.gitkeep
  env/.gitkeep
Labels: refactor

#27 Settings/client
  .github/workflow/client-ci.yml
  Makefile
  client/app/components/atoms/.keep
  client/app/components/molecules/.keep
  client/app/components/organisms/.keep
  client/app/components/templates/.keep
Labels: client

#26 feature: API(User Service)の環境構築
  api/user/.envrc.sample
  api/user/Makefile
  api/user/cmd/main.go
  api/user/config/environment.go
  api/user/config/logger.go
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/.gitkeep
  api/user/internal/domain/.gitkeep
  api/user/internal/infrastructure/.gitkeep
  api/user/internal/interface/handler/v1/health.go
  api/user/lib/.gitkeep
  api/user/registry/registry.go
Labels: api: User, feature

#35 fix: workflow => workflows
  .github/workflows/client-ci.yml
Labels: bugfix, client

#33 feature: API(User Service)のコンテナ環境構築
  .env.sample
  .gitignore
  api/user/.gitignore
  api/user/.realize.yaml
  container/api/user/Dockerfile
  docker-compose.yml
Labels: api: User, feature, infrastructure

#34 feature: API(User Service)のdependabotの設定
  .dependabot/config.yml
Labels: api: User, dependabot

#36 faeture: Makefileにローカル用のコマンド追加
  Makefile
  client/.envrc.sample
  client/.gitignore
  client/nuxt.config.ts
  client/package.json
  client/yarn.lock
Labels: feature

#37 fix: clinet/**に修正
  .github/workflows/client-ci.yml
Labels: bugfix
