Repository calmato/gran, pull requests merged in 2020-03, with the labels that each got.

#810 Feature/kubernetes/staging
  kubernetes/Makefile
  kubernetes/stg/certificate.yaml
  kubernetes/stg/deployment-group-api.yaml.sample
  kubernetes/stg/deployment-todo-api.yaml.sample
  kubernetes/stg/deployment-user-api.yaml.sample
  kubernetes/stg/ingress.yaml
  kubernetes/stg/secret-firebase.yaml.sample
  kubernetes/stg/secret-gcp.yaml.sample
  kubernetes/stg/service-group-api.yaml
  kubernetes/stg/service-todo-api.yaml
  kubernetes/stg/service-user-api.yaml
  terraform/env/stg/main.tf
  terraform/modules/gce-global-address.tf
  terraform/modules/variables.tf
Labels: feature, infrastructure

#760 add: ボード一覧の説明の追加
  client/app/components/atoms/GranAvatar.vue
  client/app/components/molecules/GranBoardSearch.vue
  client/app/components/molecules/GranGroupNewForm.vue
  client/app/components/molecules/GranMemberInvite.vue
  client/app/components/organisms/GranGroupList.vue
  client/app/components/templates/GranBoard.vue
  client/app/pages/board/index.vue
  client/app/pages/board/new.vue
  client/app/types/index.ts
  client/source/account-multiple.png
Labels: client, feature

#833 feat: ディスク容量の変更
  terraform/env/stg/main.tf
  terraform/modules/gke-node.tf
  terraform/modules/variables.tf
Labels: feature, infrastructure

#857 homeでのフッターの実装
  client/app/components/templates/GranHomeFooter.vue
  client/app/layouts/home.vue
  client/app/pages/board/index.vue
  client/app/pages/boards/index.vue
Labels: client, feature, ui/ux

#869 feature: Cloud Storageの設定
  api/group/cmd/main.go
  api/group/config/environment.go
  api/group/go.mod
  api/group/lib/firebase/storage/client.go
  api/group/registry/registry.go
  api/todo/cmd/main.go
  api/user/cmd/main.go
  api/user/config/environment.go
  api/user/registry/registry.go
  docker-compose.api.yml
Labels: api: Group, api: User, feature

#868 Fix/client/task list
  client/app/components/atoms/GranCard.vue
  client/app/components/atoms/GranCardTitle.vue
  client/app/components/atoms/GranChip.vue
  client/app/components/molecules/GranKanbanCard.vue
  client/app/components/molecules/GranTaskCard.vue
  client/app/layouts/boards.vue
  client/app/pages/boards/_id.vue
  client/app/pages/index.vue
Labels: client, ui/ux

#871 feature: エンティティの追加
  api/todo/internal/domain/board.go
  api/todo/internal/domain/task.go
Labels: api: ToDo, feature

#898 Feature/client/kanban
  client/app/components/atoms/GranColorPicker.vue
  client/app/components/molecules/GranAddColumnForm.vue
  client/app/components/molecules/GranKanbanCard.vue
  client/app/components/molecules/GranTaskCard.vue
  client/app/components/organisms/GranTaskColumn.vue
  client/app/components/templates/GranKanban.vue
  client/app/layouts/boards.vue
  client/app/pages/boards/_id.vue
  client/app/store/boards.ts
Labels: client, ui/ux

#873 feature: ボード詳細APIの実装
  api/todo/.golangci.yml
  api/todo/config/router.go
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/response/board.go
  api/todo/internal/application/validation/board_test.go
  api/todo/internal/domain/board.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/repository/task.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/infrastructure/persistence/collection.go
  api/todo/internal/infrastructure/persistence/task.go
  api/todo/internal/infrastructure/validation/board_test.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/mock/domain/repository/mock_board.go
  api/todo/mock/domain/repository/mock_task.go
  api/todo/registry/board.go
Labels: WIP, api: ToDo, feature

#955 ボードリスト追加APIの実装
  api/todo/Makefile
  api/todo/config/router.go
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/validation/board.go
  api/todo/internal/application/validation/board_test.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/domain/validation/board.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/infrastructure/validation/board.go
  api/todo/internal/infrastructure/validation/board_test.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/mock/application/validation/mock_board.go
  api/todo/mock/domain/repository/mock_board.go
  api/todo/mock/domain/service/mock_board.go
  api/todo/mock/domain/validation/mock_board.go
  docs/02_backend/02_swagger/todo_api.yaml
Labels: api: ToDo, feature

#956 feature: Taskドメインの実装
  api/todo/internal/domain/repository/task.go
  api/todo/internal/domain/validation/task.go
  api/todo/internal/infrastructure/persistence/task.go
  api/todo/internal/infrastructure/validation/board.go
  api/todo/internal/infrastructure/validation/board_test.go
  api/todo/internal/infrastructure/validation/task.go
  api/todo/internal/infrastructure/validation/task_test.go
  api/todo/mock/domain/repository/mock_task.go
  api/todo/mock/domain/validation/mock_task.go
Labels: api: ToDo, feature

#912 アカウント編集画面の実装
  client/app/components/templates/GranAccountEdit.vue
  client/app/pages/account/edit.vue
  client/app/pages/groups/index.vue
  client/app/types/form/auth/account.ts
  client/app/types/form/auth/index.ts
Labels: client, feature

#978 feature: ボード詳細取得APIの編集
  api/todo/internal/domain/board.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/mock/domain/repository/board.go
Labels: api: ToDo, feature

#979 feature: カンバン編集機能の実装
  api/todo/config/router.go
  api/todo/go.mod
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/task.go
  api/todo/internal/application/task_test.go
  api/todo/internal/application/validation/board.go
  api/todo/internal/domain/error.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/domain/service/task.go
  api/todo/internal/domain/service/task_test.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/interface/handler/error.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/mock/application/validation/board.go
  api/todo/mock/domain/repository/board.go
  api/todo/mock/domain/service/board.go
  api/todo/mock/domain/service/task.go
  api/todo/registry/task.go
  docs/02_backend/02_swagger/todo_api.yaml
Labels: api: ToDo, feature

#1003 Refactor/user api/test
  api/user/.golangci.yml
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/base.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/service/user_test.go
  api/user/internal/infrastructure/validation/user_test.go
Labels: api: User, test

#1004 refactor: test for group_api
  api/group/.golangci.yml
  api/group/internal/application/group.go
  api/group/internal/application/group_test.go
  api/group/internal/application/validation/base.go
  api/group/internal/application/validation/group_test.go
  api/group/internal/domain/service/group.go
  api/group/internal/domain/service/group_test.go
  api/group/internal/domain/service/user_test.go
  api/group/internal/infrastructure/validation/group_test.go
  api/group/mock/domain/service/group.go
Labels: api: Group, test

#1008 refactor: test for todo_api
  api/todo/.golangci.yml
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/task_test.go
  api/todo/internal/application/validation/base.go
  api/todo/internal/application/validation/board_test.go
  api/todo/internal/application/validation/task_test.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/domain/service/task_test.go
  api/todo/internal/domain/service/user_test.go
  api/todo/internal/infrastructure/validation/board_test.go
  api/todo/internal/infrastructure/validation/task_test.go
Labels: api: ToDo, test

#1057 feature: ボードリスト編集APIの実装
  api/todo/config/router.go
  api/todo/internal/application/board.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/validation/board.go
  api/todo/internal/domain/repository/task.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/domain/task.go
  api/todo/internal/infrastructure/persistence/task.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/mock/application/validation/board.go
  api/todo/mock/domain/repository/task.go
  api/todo/mock/domain/service/board.go
  docs/02_backend/02_swagger/todo_api.yaml
Labels: api: ToDo, feature

#1058 refactor: remove unnecessary variable in task application
  api/group/go.sum
  api/group/internal/domain/service/group_test.go
  api/todo/internal/application/task.go
  api/todo/internal/application/task_test.go
  api/todo/internal/domain/service/task.go
  api/todo/internal/domain/service/task_test.go
  api/todo/mock/domain/service/task.go
Labels: WIP, api: ToDo, refactor

#1066 feature: ボードリスト編集APIのテスト作成
  api/todo/internal/application/board_test.go
  api/todo/internal/application/validation/board_test.go
  api/todo/internal/domain/service/board_test.go
Labels: api: ToDo, test
