Repository calmato/gran, pull requests merged in 2020-01, with the labels that each got.

#43 feature: コンテナ用Proxyサーバ設定
  .env.sample
  container/proxy/Dockerfile
  container/proxy/envoy_dev.yaml
  docker-compose.yml
Labels: feature, infrastructure

#45 fix: github actionsのトリガーを修正
  .github/workflows/user-api-ci.yml
Labels: api: User, bugfix

#44 refactor: 不要なコメント削除
  api/user/config/router.go
Labels: api: User, refactor

#46 fix: go mod downloadのpathを修正
  .github/workflows/user-api-ci.yml
Labels: api: User, bugfix

#49 feature: Atoms/TextFieldの実装
  client/app/components/atoms/.keep
  client/app/components/atoms/GranTextField.vue
  client/app/plugins/vee-validate.ts
  client/nuxt.config.ts
  client/package.json
  client/yarn.lock
Labels: client, feature

#48 refactor: ファイル名の変更
  container/proxy/envoy.yaml
  docker-compose.yml
Labels: infrastructure, refactor

#52 Feature/auth layout
  client/app/layouts/auth.vue
  client/app/pages/signin.vue
  client/nuxt.config.ts
Labels: client, feature

#58 Fix/client build
  .github/workflows/client-ci.yml
  Makefile
  client/nuxt.config.ts
  client/package.json
  client/yarn.lock
Labels: bugfix, client

#54 feat: GitHub ActionsにLighthouseを追加
  .github/workflows/client-lighthouse-ci.yml
  client/lighthouserc.json
Labels: client, feature

#59 faeture: User APIでFirestoreの設定
  .env.sample
  .gitignore
  api/user/.envrc.sample
  api/user/cmd/main.go
  api/user/config/environment.go
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  api/user/lib/firebase/firestore/client.go
  api/user/lib/firebase/init.go
  api/user/registry/registry.go
  docker-compose.yml
  secret/.gitkeep
Labels: api: User, feature

#60 feature: Client jestの設定
  client/jest.config.js
  client/package.json
  client/spec/components/Logo.spec.ts
  client/spec/components/atoms/.gitkeep
  client/spec/components/molecules/.gitkeep
  client/spec/components/organisms/.gitkeep
  client/spec/components/templates/.gitkeep
  client/spec/helpers/axios.ts
  client/spec/helpers/response/index.ts
  client/spec/helpers/store/index.ts
  client/spec/store/.gitkeep
Labels: client, feature

#56 feat: .golangci.ymlの作成
  api/user/.golangci.yml
  api/user/Makefile
Labels: api: User, feature

#62 feature: APIのコンテナのみ起動するdocker-compose作成
  Makefile
  README.md
  docker-compose.api.yml
Labels: feature, infrastructure

#61 feat: プルリクのテンプレート作成
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#76 Feature/client/singin
  client/app/components/atoms/GranButton.vue
  client/app/components/atoms/GranCard.vue
  client/app/components/atoms/GranCardText.vue
  client/app/components/atoms/GranIcon.vue
  client/app/components/atoms/GranTextField.vue
  client/app/components/molecules/GranLoginForm.vue
  client/app/components/molecules/GranSocialButton.vue
  client/app/components/organisms/GranLinkList.vue
  client/app/components/organisms/GranLoginCard.vue
  client/app/components/templates/GranLogin.vue
  client/app/pages/signin.vue
Labels: client

#84 refactor: User APIのリファクタ
  api/user/internal/interface/handler/v1/health.go
  api/user/registry/registry.go
Labels: api: User, refactor

#69 feature: Firebase操作用のメソッド作成
  api/user/cmd/main.go
  api/user/go.sum
  api/user/lib/firebase/authentication/client.go
  api/user/lib/firebase/firestore/client.go
  api/user/registry/registry.go
Labels: api: User, feature

#94 Feature/client/singin
  client/app/components/atoms/GranAlert.vue
  client/app/components/atoms/GranButton.vue
  client/app/components/molecules/GranLoginAlert.vue
  client/app/components/molecules/GranLoginForm.vue
  client/app/components/organisms/GranLoginCard.vue
  client/app/components/templates/GranLogin.vue
  client/app/pages/signin.vue
  client/app/plugins/firebase.ts
  client/app/plugins/vee-validate.ts
  client/app/store/auth.ts
  client/app/types/form/auth/index.ts
  client/app/types/form/auth/login.ts
  client/app/types/form/index.ts
  client/app/types/store/auth.ts
  client/app/types/store/index.ts
  client/nuxt.config.ts
  client/package.json
  client/yarn.lock
Labels: client, feature

#99 fix: validateの書き方を正しく修正
  client/app/components/atoms/GranAlert.vue
Labels: bugfix, client

#98 ユーザー登録APIの実装
  api/user/.golangci.yml
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/request/user.go
  api/user/internal/application/response/.gitkeep
  api/user/internal/application/user.go
  api/user/internal/application/validation/base.go
  api/user/internal/application/validation/user.go
  api/user/internal/domain/.gitkeep
  api/user/internal/domain/repository/user.go
  api/user/internal/domain/user.go
  api/user/internal/infrastructure/.gitkeep
  api/user/internal/infrastructure/persistence/user.go
  api/user/internal/interface/handler/v1/health.go
  api/user/internal/interface/handler/v1/user.go
  api/user/registry/registry.go
Labels: api: User, feature

#107 feature: Client 環境変数の設定
  .env.sample
  client/.envrc.sample
  client/app/plugins/firebase.ts
  client/app/plugins/vuetify.ts
  client/nuxt.config.ts
  docker-compose.yml
Labels: client, feature, infrastructure

#108 refactor: makefileのコンテナ関連コマンドを修正
  Makefile
Labels: infrastructure, refactor

#100 refactor: UserサービスのPathを編集
  api/user/config/router.go
  api/user/internal/interface/handler/health.go
  api/user/registry/registry.go
  container/proxy/envoy.yaml
Labels: infrastructure, refactor

#180 feature: フォームグループコンポーネントの作成
  client/app/components/atoms/GranFormGroup.vue
Labels: client, feature

#192 feature: Lighthouse CIの設定を編集
  client/lighthouserc.json
  client/nuxt.config.ts
Labels: client, feature

#191 feature: Cookieでの認証情報管理
  client/app/middleware/authentication.ts
  client/app/plugins/persisted-state.ts
  client/app/store/auth.ts
  client/app/types/store/auth.ts
  client/nuxt.config.ts
  client/package.json
  client/yarn.lock
Labels: client, feature

#135 feature: ユーザー登録APIの実装
  api/user/go.sum
  api/user/internal/application/request/user.go
  api/user/internal/application/response/.gitkeep
  api/user/internal/application/response/error.go
  api/user/internal/application/user.go
  api/user/internal/application/validation/base.go
  api/user/internal/application/validation/user.go
  api/user/internal/domain/error.go
  api/user/internal/domain/repository/user.go
  api/user/internal/domain/service/user.go
  api/user/internal/domain/user.go
  api/user/internal/domain/validation/user.go
  api/user/internal/infrastructure/persistence/user.go
  api/user/internal/infrastructure/validation/base.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/interface/handler/error.go
  api/user/internal/interface/handler/health.go
  api/user/internal/interface/handler/v1/user.go
  api/user/lib/firebase/authentication/client.go
  api/user/lib/firebase/firestore/client.go
  api/user/lib/firebase/init.go
  api/user/registry/registry.go
Labels: api: User, feature

#207 Feature/client/singup
  client/app/components/molecules/.keep
  client/app/components/molecules/GranSignUpForm.vue
  client/app/components/organisms/.keep
  client/app/components/organisms/GranLinkList.vue
  client/app/components/organisms/GranSignUpCard.vue
  client/app/components/templates/.keep
  client/app/components/templates/GranSignUp.vue
  client/app/middleware/authentication.ts
  client/app/pages/signup.vue
  client/app/types/form/auth/index.ts
  client/app/types/form/auth/signup.ts
  client/app/types/props/index.ts
  client/app/types/props/organisms/GranLinkList.ts
  client/app/types/props/organisms/index.ts
Labels: client, feature

#208 feat: axiosの設定
  .env.sample
  client/app/plugins/axios.ts
  client/nuxt.config.ts
  docker-compose.yml
Labels: client, feature

#210 feature: Groupエンティティ作成
  api/user/internal/domain/user.go
Labels: api: User, feature

#236 feature: CORSの設定
  api/user/config/cors.go
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  container/proxy/envoy.yaml
Labels: api: User, feature, infrastructure

#290 Feature/client/singup
  client/app/components/atoms/GranFlash.vue
  client/app/components/molecules/GranErrorAlert.vue
  client/app/components/templates/GranLogin.vue
  client/app/components/templates/GranSignUp.vue
  client/app/layouts/auth.vue
  client/app/pages/signup.vue
  client/app/store/auth.ts
  client/app/types/form/auth/signup.ts
  client/app/types/form/utils/form.ts
Labels: client

#195 feature: Storybookの設定
  storybook/.storybook/addons.js
  storybook/.storybook/config.js
  storybook/.storybook/preview-head.html
  storybook/.storybook/webpack.config.js
  storybook/package.json
  storybook/stories/1-Button.stories.ts
  storybook/stories/2-Logo.stories.ts
  storybook/stories/MyButton.vue
  storybook/stories/Welcome.stories.ts
  storybook/stories/atoms/GranButton.stories.ts
  storybook/yarn.lock
Labels: feature, storybook

#306 faeture: グループ作成APIの作成
  api/user/config/router.go
  api/user/go.sum
  api/user/internal/application/group.go
  api/user/internal/application/request/group.go
  api/user/internal/application/validation/group.go
  api/user/internal/domain/error.go
  api/user/internal/domain/group.go
  api/user/internal/domain/repository/group.go
  api/user/internal/domain/repository/user.go
  api/user/internal/domain/service/group.go
  api/user/internal/domain/service/user.go
  api/user/internal/domain/user.go
  api/user/internal/domain/validation/group.go
  api/user/internal/infrastructure/persistence/collection.go
  api/user/internal/infrastructure/persistence/group.go
  api/user/internal/infrastructure/persistence/user.go
  api/user/internal/infrastructure/validation/group.go
  api/user/internal/interface/handler/error.go
  api/user/internal/interface/handler/v1/group.go
  api/user/middleware/gin.go
  api/user/registry/group.go
  api/user/registry/registry.go
  api/user/registry/user.go
Labels: api: User, feature

#352 fix: lighthouseの設定変更
  client/lighthouserc.json
Labels: bugfix

#355 feat: 定期実行する用のCI作成
  .github/workflows/ci-client-lighthouse.yml
  .github/workflows/ci-client.yml
  .github/workflows/ci-cron-pull-request-from-develop.yml
  .github/workflows/ci-storybook.yml
  .github/workflows/ci-user-api.yml
Labels: feature

#396 refactor: Firebase周りの編集
  api/user/go.mod
  api/user/go.sum
  api/user/internal/infrastructure/persistence/group.go
  api/user/internal/infrastructure/persistence/user.go
  api/user/lib/firebase/firestore/client.go
Labels: api: User, refactor
