Repository calmato/gran, pull requests merged in 2020-04, with the labels that each got.

#1195 Feature/client/add task
  client/app/components/molecules/GranKanbanCard.vue
  client/app/components/organisms/GranTaskColumn.vue
  client/app/components/templates/GranKanban.vue
  client/app/store/boards.ts
  client/app/types/form/todo/index.ts
  client/app/types/form/todo/tasks.ts
Labels: client, feature

#1196 feature: プロフィール編集APIの実装
  api/group/.golangci.yml
  api/todo/.golangci.yml
  api/todo/internal/interface/handler/error.go
  api/user/.golangci.yml
  api/user/config/router.go
  api/user/internal/application/request/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/error.go
  api/user/internal/domain/repository/user.go
  api/user/internal/domain/service/user.go
  api/user/internal/domain/service/user_test.go
  api/user/internal/domain/uploader/context.go
  api/user/internal/domain/user.go
  api/user/internal/infrastructure/persistence/user.go
  api/user/internal/infrastructure/storage/context.go
  api/user/internal/infrastructure/storage/uploader.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/interface/handler/error.go
  api/user/internal/interface/handler/v1/user.go
  api/user/lib/firebase/authentication/client.go
  api/user/mock/application/validation/user.go
  api/user/mock/domain/repository/user.go
  api/user/mock/domain/service/user.go
  api/user/mock/domain/uploader/context.go
  api/user/registry/registry.go
  api/user/registry/user.go
  docs/02_backend/02_swagger/user_api.yaml
Labels: api: User, feature, test

#1197 feature: プロフィール取得APIの実装
  api/user/config/router.go
  api/user/internal/application/response/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/interface/handler/v1/user.go
  docs/02_backend/02_swagger/user_api.yaml
Labels: api: User, feature, test

#1198 docs: Swaggerの更新
  api/group/internal/application/response/group.go
  api/group/lib/firebase/authentication/client.go
  api/todo/lib/firebase/authentication/client.go
  docs/02_backend/02_swagger/group_api.yaml
  docs/02_backend/02_swagger/todo_api.yaml
  docs/02_backend/02_swagger/user_api.yaml
Labels: api: Group, api: ToDo, documentation, feature

#1202 feature: タスク詳細取得APIの実装
  api/todo/config/router.go
  api/todo/internal/application/response/task.go
  api/todo/internal/application/task.go
  api/todo/internal/application/task_test.go
  api/todo/internal/domain/error.go
  api/todo/internal/domain/repository/task.go
  api/todo/internal/domain/service/task.go
  api/todo/internal/domain/service/task_test.go
  api/todo/internal/domain/task.go
  api/todo/internal/infrastructure/persistence/task.go
  api/todo/internal/interface/handler/v1/task.go
  api/todo/mock/domain/repository/task.go
  api/todo/mock/domain/service/task.go
  docs/02_backend/02_swagger/todo_api.yaml
Labels: api: ToDo, feature, test

#1203 refactor: error handling
  api/group/internal/application/response/error.go
  api/group/internal/domain/error.go
  api/group/internal/interface/handler/error.go
  api/todo/internal/application/response/error.go
  api/todo/internal/interface/handler/error.go
  api/user/internal/application/response/error.go
  api/user/internal/domain/error.go
  api/user/internal/interface/handler/error.go
Labels: api: Group, api: ToDo, api: User, refactor

#1206 ログインフォームをEnterキーで送信できるようにする
  client/app/components/molecules/GranLoginForm.vue
Labels: ui/ux

#1361 Feature/workflow/setup terraform
  .github/workflows/ci-terraform.yml
  docs/03_infrastructure/04_github_actions/README.md
  terraform/.gitignore
  terraform/env/stg/backend.tf.ci
  terraform/env/stg/main.tf
Labels: feature, infrastructure
