Repository calmato/gran, pull requests merged in 2020-02, with the labels that each got.

#442 feat: ページ遷移のアニメーション追加
  client/app/assets/transitions.css
  client/nuxt.config.ts
Labels: ui/ux

#386 feature: ログの出力設定
  api/user/config/router.go
  api/user/internal/application/group.go
  api/user/internal/application/response/error.go
  api/user/internal/application/user.go
  api/user/internal/application/validation/base.go
  api/user/internal/application/validation/group.go
  api/user/internal/application/validation/user.go
  api/user/internal/domain/error.go
  api/user/internal/domain/service/group.go
  api/user/internal/domain/service/user.go
  api/user/internal/domain/validation/base.go
  api/user/internal/domain/validation/group.go
  api/user/internal/domain/validation/user.go
  api/user/internal/infrastructure/validation/base.go
  api/user/internal/infrastructure/validation/group.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/interface/handler/error.go
  api/user/internal/interface/handler/v1/user.go
  api/user/middleware/logging.go
Labels: api: User, feature

#449 Feature/client/pages/email check
  client/app/components/atoms/GranIcon.vue
  client/app/components/organisms/GranEmailCheckCard.vue
  client/app/components/templates/GranEmailCheck.vue
  client/app/middleware/authentication.ts
  client/app/pages/email-check.vue
  client/app/pages/signup.vue
Labels: client

#450 feature: グループ一覧取得APIの実装
  api/group/config/router.go
  api/group/internal/application/group.go
  api/group/internal/application/response/group.go
  api/group/internal/domain/repository/group.go
  api/group/internal/domain/service/group.go
  api/group/internal/infrastructure/persistence/group.go
  api/group/internal/interface/handler/v1/group.go
  doc/02_backend/02_swagger/group.api.yaml
Labels: api: Group, feature

#446 feature: ローディング画面の実装
  client/app/components/organisms/GranLoading.vue
  client/app/pages/group.vue
  client/nuxt.config.ts
Labels: client, feature

#451 faeture: Userサービスにテストを追加
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/service/user_test.go
  api/user/internal/infrastructure/validation/user_test.go
Labels: api: User, feature

#452 Fix/signin
  client/app/components/atoms/GranFlash.vue
  client/app/components/molecules/GranErrorAlert.vue
  client/app/store/auth.ts
Labels: bugfix, client

#454 test: Jestのテスト設定とテストコードのサンプル実装
  client/package.json
  client/spec/components/atoms/.gitkeep
  client/spec/components/atoms/GranButton.spec.ts
  client/spec/components/atoms/GranCard.spec.ts
  client/spec/components/atoms/GranTextField.spec.ts
  client/spec/helpers/component-helper.ts
  client/spec/helpers/response/auth.ts
  client/spec/helpers/response/index.ts
  client/spec/helpers/store-helper.ts
  client/spec/helpers/store/auth.ts
  client/spec/helpers/store/index.ts
  client/spec/store/.gitkeep
  client/spec/store/auth.spec.ts
  client/yarn.lock
Labels: client, test

#455 test: Pagesのテストを追加とテストの型周り修正
  client/app/types/form/auth/login.ts
  client/jest.config.js
  client/spec/components/atoms/GranButton.spec.ts
  client/spec/components/atoms/GranCard.spec.ts
  client/spec/components/atoms/GranTextField.spec.ts
  client/spec/helpers/component-helper.ts
  client/spec/pages/signup.spec.ts
Labels: client, test

#465 feature: Storybookをいくつか追加
  client/app/components/atoms/GranFlash.vue
  storybook/.gitignore
  storybook/stories/atoms/GranFlash.stories.ts
  storybook/stories/atoms/GranIcon.stories.ts
  storybook/storybook-static/favicon.ico
  storybook/storybook-static/iframe.html
  storybook/storybook-static/index.html
  storybook/storybook-static/main.a183f9e7238cdd01316b.bundle.js
  storybook/storybook-static/main.ae7f04956bf5cd433144.bundle.js
  storybook/storybook-static/main.ae7f04956bf5cd433144.bundle.js.map
  storybook/storybook-static/runtime~main.6b70b35614cf83eab770.bundle.js
  storybook/storybook-static/runtime~main.ae7f04956bf5cd433144.bundle.js
  storybook/storybook-static/runtime~main.ae7f04956bf5cd433144.bundle.js.map
  storybook/storybook-static/sb_dll/storybook_ui-manifest.json
  storybook/storybook-static/sb_dll/storybook_ui_dll.LICENCE
  storybook/storybook-static/sb_dll/storybook_ui_dll.js
  storybook/storybook-static/vendors~main.4f786ae995b52785a903.bundle.js
  storybook/storybook-static/vendors~main.ae7f04956bf5cd433144.bundle.js
  storybook/storybook-static/vendors~main.ae7f04956bf5cd433144.bundle.js.LICENSE
  storybook/storybook-static/vendors~main.ae7f04956bf5cd433144.bundle.js.map
Labels: feature, storybook

#466 feature: グループ詳細取得APIの実装
  api/group/config/router.go
  api/group/internal/application/group.go
  api/group/internal/domain/repository/group.go
  api/group/internal/domain/service/group.go
  api/group/internal/infrastructure/persistence/group.go
  api/group/internal/interface/handler/v1/group.go
Labels: api: Group, feature

#467 fix: ユーザリファレンス取得メソッドの修正
  api/group/internal/infrastructure/persistence/group.go
Labels: api: Group, bugfix

#520 Feature/todo api/create board
  api/todo/config/router.go
  api/todo/go.mod
  api/todo/go.sum
  api/todo/internal/application/board.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/validation/board.go
  api/todo/internal/domain/board.go
  api/todo/internal/domain/group.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/repository/user.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/user.go
  api/todo/internal/domain/user.go
  api/todo/internal/domain/validation/board.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/infrastructure/persistence/collection.go
  api/todo/internal/infrastructure/persistence/user.go
  api/todo/internal/infrastructure/validation/board.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/registry/board.go
  api/todo/registry/registry.go
Labels: api: ToDo, feature

#524 Refactor/user api
  api/group/go.sum
  api/todo/go.sum
  api/user/go.sum
  api/user/internal/application/request/user.go
  api/user/internal/application/response/error.go
  api/user/internal/application/validation/base.go
  api/user/internal/domain/user.go
  api/user/internal/infrastructure/persistence/user.go
  api/user/internal/infrastructure/validation/base.go
  api/user/internal/interface/handler/error.go
Labels: api: User, refactor

#525 Refactor/group api
  api/group/go.sum
  api/group/internal/application/group.go
  api/group/internal/application/response/error.go
  api/group/internal/application/validation/base.go
  api/group/internal/domain/service/group.go
  api/group/internal/infrastructure/persistence/user.go
  api/group/internal/infrastructure/validation/base.go
  api/group/internal/interface/handler/error.go
Labels: api: Group, refactor

#527 feature: グループ編集APIの実装
  api/group/config/router.go
  api/group/internal/application/group.go
  api/group/internal/application/request/group.go
  api/group/internal/application/validation/group.go
  api/group/internal/domain/repository/group.go
  api/group/internal/domain/service/group.go
  api/group/internal/infrastructure/persistence/group.go
  api/group/internal/interface/handler/v1/group.go
  doc/02_backend/02_swagger/group.api.yaml
Labels: api: Group, feature

#528 feat: 変数の定義箇所
  api/user/internal/interface/handler/v1/user.go
Labels: api: User, refactor

#529 Refactor/group api
  api/group/config/router.go
  api/group/internal/interface/handler/v1/group.go
  api/group/middleware/logging.go
Labels: api: Group, refactor

#530 Refactor/todo api
  api/todo/config/router.go
  api/todo/internal/interface/handler/v1/board.go
  api/todo/middleware/logging.go
Labels: api: ToDo, refactor

#531 fix: グループにUserIDが含まれてるかの検証箇所修正
  api/group/internal/application/group.go
Labels: api: Group, bugfix

#551 Feature/group api/join group
  api/group/config/router.go
  api/group/internal/application/group.go
  api/group/internal/application/group_test.go
  api/group/internal/application/request/group.go
  api/group/internal/application/validation/group.go
  api/group/internal/domain/group.go
  api/group/internal/domain/repository/group.go
  api/group/internal/domain/service/group.go
  api/group/internal/domain/service/group_test.go
  api/group/internal/infrastructure/persistence/group.go
  api/group/internal/infrastructure/validation/group.go
  api/group/internal/interface/handler/error.go
  api/group/internal/interface/handler/v1/group.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/validation/board.go
  api/todo/internal/interface/handler/error.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/domain/service/user.go
  api/user/internal/interface/handler/error.go
  doc/02_backend/02_swagger/group.api.yaml
Labels: api: Group, api: ToDo, api: User, feature, refactor

#537 Feature/dezain1.0
  client/app/components/organisms/GranGroupList.vue
  client/app/pages/groups/index.vue
  client/app/pages/groups/new.vue
  client/app/store/group.ts
Labels: client, feature

#561 feature: グループ参加APIの実装
  api/group/config/router.go
  api/group/internal/application/group.go
  api/group/internal/application/group_test.go
  api/group/internal/domain/service/group.go
  api/group/internal/domain/service/group_test.go
  api/group/internal/interface/handler/v1/group.go
  doc/02_backend/02_swagger/group.api.yaml
Labels: api: Group, feature

#566 [group]: typescriptの適用
  client/app/components/atoms/GranAvatar.vue
  client/app/components/molecules/GranGroupNewForm.vue
  client/app/components/templates/GranBoardNew.vue
  client/app/pages/boads/new.vue
  client/app/types/form/auth/group.ts
  client/app/types/form/auth/index.ts
  client/app/types/index.ts
Labels: client, feature

#567 feature: ボード一覧取得APIの実装
  api/todo/config/router.go
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/response/board.go
  api/todo/internal/domain/board.go
  api/todo/internal/domain/repository/board.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/infrastructure/persistence/board.go
  api/todo/internal/interface/handler/v1/board.go
Labels: api: ToDo, feature

#563 fix: ユーザ登録時にメールが送られないバグを修正
  api/group/lib/firebase/authentication/client.go
  api/todo/lib/firebase/authentication/client.go
  api/user/lib/firebase/authentication/client.go
Labels: api: User, bugfix

#665 feature: Cloud Storage操作用のライブラリをsakusei
  .env.sample
  api/todo/.envrc.sample
  api/todo/cmd/main.go
  api/todo/config/environment.go
  api/todo/go.mod
  api/todo/lib/firebase/storage/client.go
  api/todo/registry/registry.go
  docker-compose.api.yml
  docker-compose.yml
Labels: api: ToDo, feature

#668 feature: ボード作成機能の更新
  api/todo/internal/application/board.go
  api/todo/internal/application/board_test.go
  api/todo/internal/application/request/board.go
  api/todo/internal/application/validation/board_test.go
  api/todo/internal/domain/error.go
  api/todo/internal/domain/service/board.go
  api/todo/internal/domain/service/board_test.go
  api/todo/internal/domain/uploader/context.go
  api/todo/internal/infrastructure/storage/context.go
  api/todo/internal/infrastructure/storage/uploader.go
  api/todo/middleware/logging.go
  api/todo/registry/board.go
  api/todo/registry/registry.go
  container/proxy/envoy.yaml
  doc/02_backend/02_swagger/todo_api.yaml
Labels: api: ToDo, feature

#675 Deploy/firebase
  client/.firebaserc
  client/.gitignore
  client/firebase.json
Labels: client

#676 feature: 本番環境用 APIのコンテナイメージを作成
  .github/workflows/cd-user-api-for-staging.yml
  container/api/group/Dockerfile.production
  container/api/todo/Dockerfile.production
  container/api/user/Dockerfile.production
  doc/03_infrastructure/02_container/README.md
Labels: feature, infrastructure

#695 feature: Terraformの初期設定
  .env.sample
  Makefile
  container/terraform/Dockerfile
  docker-compose.yml
  terraform/.gitignore
  terraform/Makefile
  terraform/env/stg/backend.tf.sample
  terraform/env/stg/main.tf
  terraform/env/stg/outputs.tf
  terraform/env/stg/terraform.tfvars.sample
  terraform/env/stg/variables.tf
  terraform/modules/gke-cluster.tf
  terraform/modules/gke-node.tf
  terraform/modules/outputs.tf
  terraform/modules/variables.tf
Labels: feature, infrastructure
